{% load  static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
          <!-- Template Main CSS File -->
    <link href='{% static "css/main.css" %}' rel="stylesheet">
    </head>

    <body class="bg-dark text-white">
        <style>
            textarea {
              width: 100px; /* Set the width as desired */
              height: 100px; /* Set the height as desired */
              /* Add additional styling as needed */
          }
          </style>
        <h2 style='margin-top: 150px; text-align: center;'>Submit Design Request</h2>
        <ul>
            <!-- Navigation links -->
            <li style="display: inline-block; padding-left: 150px;"><a href="{% url 'submit_design_request' %}">Submit Design Request</a></li>
            <li style="display: inline-block;padding-left: 250px;"><a href="{% url 'design_requests' %}">Design Requests</a></li>
    
        </ul>
        
        
        <div class=" container " style="width:600px;">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy}}
                <button type="submit" class="btn btn-success">Submit Request</button>
            </form>
            </div>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
