<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Festava Live - Ticket HTML Form</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&display=swap" rel="stylesheet">

    <link href=" {% static 'css/bootstrap.min.css' %} " rel="stylesheet">

    <link href=" {% static 'css/bootstrap-icons.css' %} " rel="stylesheet">

    <link href=" {% static 'css/templatemo-festava-live.css' %} " rel="stylesheet">
    <!--

TemplateMo 583 Festava Live

https://templatemo.com/tm-583-festava-live

-->

</head>

<body>

    <main>

        <div class="hero_area">
            <!-- header section strats -->
            <header class="header_section">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
                        <a class="navbar-brand" href="index.html">
                            <img src="{% static 'images/logo.png' %}" alt="" />
                            <span>
                                Postervers
                            </span>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
    
                        
                       
                    </nav>
                </div>
            </header>


        <section class="ticket-section section-padding">
            <div class="section-overlay"></div>

            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-10 mx-auto">
                        <form class="custom-form ticket-form mb-5 mb-lg-0" action="#" method="post" role="form">
                            <h2 class="text-center mb-4">Get started here</h2>



                            {% for message in messages %}
<div class="alert alert-danger alert-dismissible d-flex align-items-center " role="alert">
	<svg class="bi flex-shrink-0 me-2" width="20" height="20" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
	<div class="mt-1" style="padding-left:7px">
		<a href="#" class="close mt-1" data-dismiss="alert" aria-label="close">&times;</a>
		{{ message }}
	</div>
</div>

{% endfor %}
<form method="post">
    {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" class="form-control" name="uname" id="exampleInputEmail1"  placeholder="Enter username">
    <small id="emailHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" name='pass' id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group form-check">
<!--    <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--    <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
    <a href="{% url 'registration' %}">
    <button type="button" class="btn btn-primary">Register</button> </a>
</form>

    <!-- JAVASCRIPT FILES -->
    <script src=" {% static 'js/jquery.min.js' %} "></script>
    <script src=" {% static 'js/bootstrap.min.js' %} "></script>
    <script src=" {% static 'js/jquery.sticky.js' %} "></script>
    <script src=" {% static 'js/custom.js' %} "></script>

</body>
</html>